@model HotelReservation.Models.Room

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid mt-5 flex-row">
    <!-- Gallery -->
    <div class="container-fluid room-tiles-container">
            <div class="row text-center flex-row justify-content-center">
                <div class="col-md-12">
                    <div class="form-row h-100">
                        <div class="col-9 h-100 align-content-around">
                            <div class="form-row">
                                <div class="col-7 ">
                                    <img src="~/Images/Room/07fe70f1-032f-4f4d-b183-552a4d1f311d.jpg"
                                         class="img-fluid rounded shadow-lg transition-hover h-100"
                                         alt="...">
                                </div>
                                <div class="col-5 h-100">
                                    <img src="~/Images/Room/561cd493-3ff8-4fed-9608-7d5f142a70cf.jpg"
                                         class="img-fluid rounded shadow-lg transition-hover h-50 "
                                         alt="...">
                                    <img src="~/Images/Room/74420977-066f-4b2d-8bb5-a5faedd7bc6a.jpg"
                                         class="img-fluid rounded shadow-lg transition-hover h-50 mt-2"
                                         alt="...">
                                </div>
                            </div>
                        </div>

                        <div class="col-3 h-100 align-content-around">
                            <img src="~/Images/Room/07fe70f1-032f-4f4d-b183-552a4d1f311d.jpg"
                                 class="img-fluid rounded shadow-lg transition-hover h-100"
                                 alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div class="container mt-5">
        <div>
            <h4>Room</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaxQuantityOfPeople)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaxQuantityOfPeople)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Type.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hotlel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hotlel.Name)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


</div>

