@model HotelReservation.Core.ViewModels.RoomDetailsViewModel

<div class="container-fluid mt-5">
    <div class="col-md-12">
        <section class="row">
            <div class="col-md-6">
                <div class="pro-img-details m1">
                    <img src="\@Url.Content(Model.Images[0])" class="img-fluid" alt="Zdjęcie pokoju">         
                </div>
                <div class="pro-img-list m-1 w-100">
                    <div class="form-row h-100 w-100 flex-fill">
                        <div class="col-3 h-100 w-100">
                            <img src="\@Url.Content(Model.Images[1])" alt="Zdjęcie pokoju" class="img-fluid">
                        </div>
                        <div class="col-3 h-100">
                            <a href="#">
                                <img src="\@Url.Content(Model.Images[2])" alt="Zdjęcie pokoju" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-3 h-100">
                            <a href="#">
                                <img src="\@Url.Content(Model.Images[3])" alt="Zdjęcie pokoju" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-3 h-100">
                            <a href="#">
                                <img src="\@Url.Content(Model.Images[4])" alt="Zdjęcie pokoju" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h3>@Html.DisplayFor(x => x.Name) </h3>
                <p class="p-3">
                    @Html.DisplayFor(x => x.Description)
                </p>
                <div class="product_meta p-3">
                    <span class="posted_in">
                        <strong>Typ pokoju:</strong>
                        <a rel="tag" href="#">@Html.DisplayFor(x => x.Type)</a>
                    </span>
                </div>
                <div class="m-bot15 p-3">
                    <strong>Cena : </strong>
                    <span class="amount-old">@Html.DisplayFor(x => x.Price) zł</span>
                    <span class="pro-price">@Html.DisplayFor(x => x.DiscountPrice) zł</span>
                </div>

                <a asp-action="Reservation" asp-route-id=@Model.Id>
                    <button class="btn btn-round bg-dark text-light" type="button">
                        Rezerwacja
                    </button>
                </a>
            </div>

        </section>
    </div>
</div>